<h1>Listing base_articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @base_articles.each do |base_article| %>
      <tr>
        <td><%= base_article.title %></td>
        <td><%= base_article.content %></td>
        <td><%= link_to 'Show', base_article %></td>
        <td><%= link_to 'Edit', edit_base_article_path(base_article) %></td>
        <td><%= link_to 'Destroy', base_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base article', new_base_article_path %>
